* {
  padding: 0;
  margin: 0;
}
a {
  color: yellow !important;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  position: absolute;
  width: 100%;
  color: white;
}
.nav-text {
  width: 50%;
  display: flex;
  align-items: center;
}
.nav-text p {
  margin: 0;
}
.banner {
  background: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
}
.banner .container {
  width: 50%;
  margin: 2rem;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
  align-items: center;
  height: 100%;
}
ul .active {
  background: yellow;
  height: 100%;
  border-radius: 30px;
  padding: 8px;
  width: 18%;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.our-story {
  display: flex;
  height: 80vh;
  align-items: center;
  background: linear-gradient(270deg, #080c4f, black);
  color: white;
}
h3 {
  font-size: 2.5rem !important;
}
.our-story .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.our-story p {
  width: 90%;
}
.img-box {
  width: 30% !important;
}
.img-box img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 1px solid yellow;
}
.artist {
  height: 100vh;
  background: linear-gradient(270deg, #080c4f, black);
  color: white;
}
.artist .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.artist ul {
  width: 90%;
  padding: 0;
  margin-bottom: 0;
  background: gray;
  border-radius: 35px;
}
.artist ul li {
  font-weight: 600;
  font-size: 1.3rem;
}
.artist .row div {
  width: 24%;
  height: 135px;
  text-align: center;
}
.artist .row img {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  padding: 0;
}
.photos {
  background: linear-gradient(270deg, #080c4f, black);
  color: white;
}
.photos img {
  width: 33%;
  height: 100%;
  padding: 0;
}
.pic-text p {
  padding-right: 7rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}
.our-blog {
  height: 100vh;
  background: linear-gradient(270deg, #080c4f, black);
  color: #fff;
}
.our-blog .container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.img-addi img {
  height: 65%;
  margin-bottom: 0.5rem;
}
.email {
  height: 70vh;
  display: flex;
  align-items: center;
  background: url(../images/email.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}
.email .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.email .container div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.email .container div input,
.email .container div select {
  width: 80%;
  border-radius: 10px;
  border: 1px solid;
  padding: 0.2rem;
}
.email button,
.nav-text a {
  padding: 0.4rem 1.2rem;
  border: none;
  background: yellow;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  color: black !important;
}
.footer {
  height: 50vh;
  display: flex;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(270deg, #080c4f, black);
  color: #fff;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.footer i {
  font-size: 3rem;
  color: yellow;
  width: 7%;
}
.footer p:nth-child(1) {
  width: 10%;
}
.footer p:nth-child(2) {
  width: 30%;
}
